.create-statement-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    max-width: 450px;
    height: fit-content;
    z-index: 1000;
    background-color: transparent;

    @media screen and (max-width: 768px) {
        width: 100vw;
        height: 100svh;
    }

    .modal-content {
        width: 120%;


        @media screen and (max-width: 768px) {
            width: 100vw;
            height: 100svh;
            min-width: 340px;

        }
    }

    .overlay {
        width: 100%; // Full width
        display: flex; // Keep your existing flex styles
        flex-direction: column;
        gap: 1rem;
        align-items: center; // Center items in the overlay
        position: relative; // Ensure relative positioning for the close button
        padding: 1rem; // Add some padding to avoid content touching edges
        min-width: 340px;

        .custom-close-btn {
            position: absolute; // Position absolutely to the overlay
            top: 1rem; // Distance from the top
            right: 1rem; // Distance from the right
            background: none; // No background
            border: none; // No border
            cursor: pointer; // Pointer cursor
            padding: 0; // No padding
        }

        img {
            width: 24px;
            height: 24px;
        }


        &.ltr {
            right: 1rem;
        }

        &.rtl {
            left: 1rem;
        }


        @media screen and (max-width: 768px) {
            width: 100vw;
            height: 100svh;
        }

    }



    .tabs {
        width: 80%;
        display: flex;
        justify-content: space-around;
        padding-bottom: 0.5rem;

        .tab {
            font-family: "Roboto", "Open Sans", sans-serif;
            font-weight: 400;
            font-size: 1.9rem;
            color: var(--text-disabled-paragraph);
            cursor: pointer;
            font-size: 1rem;
            position: relative;
            background: none;



            &.active {
                margin: 1.7rem;
                width: 190px;
                font-weight: 800;
                font-size: 1.2rem;


                &.question {
                    color: var(--text-blue);

                    .block {
                        background-color: var(--text-blue);
                    }
                }

                &.option {
                    color: var(--text-headline);

                    .block {
                        background-color: var(--text-green);
                    }
                }
            }
        }
    }

    .form-inputs {
        width: 84%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &.rtl {
            text-align: right;
        }

        &.ltr {
            text-align: left;
        }


        input {
            height: 50px;
            border-radius: 10px;
            font-style: italic;
            border: 1px solid var(--Primitive-Color-Nuetral-Grey-200, rgba(199, 206, 221, 1));
            background-color: var(--Primitive-Color-Nuetral-Grey-200);
        }
    }

    textarea {
        height: 300px;
        font-style: italic;
        border-radius: 10px;
        background-color: var(--Primitive-Color-Nuetral-Grey-200);
        border: 1px solid var(--Primitive-Color-Nuetral-Grey-200, rgba(199, 206, 221, 1))
    }

    .create-statement-buttons {
        display: flex;
        width: 84%;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 20%;

        @media screen and (max-width: 768px) {
            margin-top: 0;
            margin-bottom: 10%;
        }

        button {
            font-family: "Roboto", "Open Sans", sans-serif;
            font-weight: 400;
            font-size: .8rem;
            display: flex;
            text-align: center;
            padding: 0.38rem 1rem;

        }

        .add-button {
            color: var(--text-white);
            border-radius: var(--Radius-Radius-L, 1.25rem);
            background: var(--btn-secondary);
            box-shadow: 0px 27px 8px 0px rgba(38, 56, 84, 0.00), 0px 17px 7px 0px rgba(38, 56, 84, 0.01), 0px 10px 6px 0px rgba(38, 56, 84, 0.05), 0px 4px 4px 0px rgba(38, 56, 84, 0.09), 0px 1px 2px 0px rgba(38, 56, 84, 0.10);

        }

        .close-btn {
            font-size: 2.5rem;
            font-weight: 200;
            font-family: Arial, Helvetica, sans-serif;
            color: var(--text-blue);

        }

        // .cancel-button {
        //     border-radius: var(--Radius-Radius-L, 1.25rem);
        //     border: var(--Spacing-0, 1px) solid var(--btn-tertiary);
        //     color: var(--text-blue);
        // }
        &.rtl {
            direction: rtl;

            .form-inputs {
                text-align: right;
            }
        }

        &.ltr {
            direction: ltr;

            .form-inputs {
                text-align: left;
            }
        }
    }
}